<% provide(:title, "About") %>
<h1>About</h1>
<h1>ORE no EMOJI</h1>

<h2>
  an unofficial* directory of the best custom slack emojis
</h2>
<h2>このサイトはslackのemojiを研究するためのものです。</h2>
<div class="about">
  <p>EMOJIによって、生まれる笑顔があります。</p>
  <p><a href="https://suin.io/552">『このSlack時代に「笑顔」の絵文字の価値を考える』</a>
  </p>
</div>


<div class="information">
<p>使い方</p>
<p><a href="https://chrome.google.com/webstore/detail/neutral-face-emoji-tools/anchoacphlfbdomdlomnbbfhcmcdmjej">slack導入にオススメの拡張機能</a></p>
<p><a href="https://moneyforward.slack.com/customize/emoji">ダウンロードしたEMOJIをslackに追加する</a></p>
</div>
