<div class="center jumbotron">
  <h1>ORE no EMOJI</h1>

  <h2>
    an unofficial* directory of the best custom slack emojis
  </h2>

  <input type=form id="form" placeholder=":hogehoge:" style="width: 250px;"/>
  <%= link_to "Let's search!", '#', class: "btn btn-lg btn-primary" %>



</div>
