<div class="center jumbotron">
  <h1>ORE no EMOJI</h1>

  <h2>
    an unofficial* directory of the best custom slack emojis
  </h2>


  <ul class="emojis">
<li class="emoji party_parrot" title="party_parrot">
<a href="https://emojis.slackmojis.com/emojis/images/1471119458/990/party_parrot.gif?1471119458" class="downloader" data-emoji-id-name="990-party_parrot" data-emoji-id="990" download="party_parrot.gif"><div class="wrapper">
<img alt="party parrot party parrot" src="https://emojis.slackmojis.com/emojis/images/1471119458/990/party_parrot.gif?1471119458">
</div>
<div class="name" title="party_parrot - Added by The Cult Of Party Parrot">
:party_parrot:
</div>
</a></li>
<li class="emoji facepalm" title="facepalm">
<a href="https://emojis.slackmojis.com/emojis/images/1450319441/51/facepalm.png?1450319441" class="downloader" data-emoji-id-name="51-facepalm" data-emoji-id="51" download="facepalm.png"><div class="wrapper">
<img alt="facepalm meme" src="https://emojis.slackmojis.com/emojis/images/1450319441/51/facepalm.png?1450319441">
</div>
<div class="name" title="facepalm - Added by jonathan">
:facepalm:
</div>
</a></li>
<li class="aw_yeah emoji" title="aw_yeah">
<a href="https://emojis.slackmojis.com/emojis/images/1450447981/152/aw_yeah.gif?1450447981" class="downloader" data-emoji-id-name="152-aw_yeah" data-emoji-id="152" download="aw_yeah.gif"><div class="wrapper">
<img alt="aw yeah random" src="https://emojis.slackmojis.com/emojis/images/1450447981/152/aw_yeah.gif?1450447981">
</div>
<div class="name" title="aw_yeah - Added by Josh Kennedy">
:aw_yeah:
</div>
</a></li>
<li class="aaw_yeah emoji" title="aaw_yeah">
<a href="https://emojis.slackmojis.com/emojis/images/1488512507/1804/aaw_yeah.gif?1488512507" class="downloader" data-emoji-id-name="1804-aaw_yeah" data-emoji-id="1804" download="aaw_yeah.gif"><div class="wrapper">
<img alt="aaw yeah random" src="https://emojis.slackmojis.com/emojis/images/1488512507/1804/aaw_yeah.gif?1488512507">
</div>
<div class="name" title="aaw_yeah - Added by Harry McLaughlin">
:aaw_yeah:
</div>
</a></li>
<li class="emoji mario_luigi_dance" title="mario_luigi_dance">
<a href="https://emojis.slackmojis.com/emojis/images/1490885301/1973/mario_luigi_dance.gif?1490885301" class="downloader" data-emoji-id-name="1973-mario_luigi_dance" data-emoji-id="1973" download="mario_luigi_dance.gif"><div class="wrapper">
<img alt="mario luigi dance retro game" src="https://emojis.slackmojis.com/emojis/images/1490885301/1973/mario_luigi_dance.gif?1490885301">
</div>
<div class="name" title="mario_luigi_dance - Added by jonathan">
:mario_luigi_dance:
</div>
</a></li>
<li class="emoji patriots" title="patriots">
<a href="https://emojis.slackmojis.com/emojis/images/1472153438/1106/patriots.jpg?1472153438" class="downloader" data-emoji-id-name="1106-patriots" data-emoji-id="1106" download="patriots.jpg"><div class="wrapper">
<img alt="patriots nfl" src="https://emojis.slackmojis.com/emojis/images/1472153438/1106/patriots.jpg?1472153438">
</div>
<div class="name" title="patriots - Added by an anonymous user">
:patriots:
</div>
</a></li>
<li class="emoji lightsaber" title="lightsaber">
<a href="https://emojis.slackmojis.com/emojis/images/1482947228/1532/lightsaber.png?1482947228" class="downloader" data-emoji-id-name="1532-lightsaber" data-emoji-id="1532" download="lightsaber.png"><div class="wrapper">
<img alt="lightsaber star wars" src="https://emojis.slackmojis.com/emojis/images/1482947228/1532/lightsaber.png?1482947228">
</div>
<div class="name" title="lightsaber - Added by Fred">
:lightsaber:
</div>
</a></li>
<li class="carlton emoji" title="carlton">
<a href="https://emojis.slackmojis.com/emojis/images/1450319453/122/carlton.gif?1450319453" class="downloader" data-emoji-id-name="122-carlton" data-emoji-id="122" download="carlton.gif"><div class="wrapper">
<img alt="carlton random" src="https://emojis.slackmojis.com/emojis/images/1450319453/122/carlton.gif?1450319453">
</div>
<div class="name" title="carlton - Added by jonathan">
:carlton:
</div>
</a></li>
<li class="bananadance emoji" title="bananadance">
<a href="https://emojis.slackmojis.com/emojis/images/1450694616/220/bananadance.gif?1450694616" class="downloader" data-emoji-id-name="220-bananadance" data-emoji-id="220" download="bananadance.gif"><div class="wrapper">
<img alt="bananadance random" src="https://emojis.slackmojis.com/emojis/images/1450694616/220/bananadance.gif?1450694616">
</div>
<div class="name" title="bananadance - Added by Carlos F">
:bananadance:
</div>
</a></li>
<li class="emoji fast_parrot" title="fast_parrot">
<a href="https://emojis.slackmojis.com/emojis/images/1471119456/981/fast_parrot.gif?1471119456" class="downloader" data-emoji-id-name="981-fast_parrot" data-emoji-id="981" download="fast_parrot.gif"><div class="wrapper">
<img alt="fast parrot party parrot" src="https://emojis.slackmojis.com/emojis/images/1471119456/981/fast_parrot.gif?1471119456">
</div>
<div class="name" title="fast_parrot - Added by The Cult Of Party Parrot">
:fast_parrot:
</div>
</a></li>
<li class="doge emoji" title="doge">
<a href="https://emojis.slackmojis.com/emojis/images/1457563042/312/doge.png?1457563042" class="downloader" data-emoji-id-name="312-doge" data-emoji-id="312" download="doge.png"><div class="wrapper">
<img alt="doge meme" src="https://emojis.slackmojis.com/emojis/images/1457563042/312/doge.png?1457563042">
</div>
<div class="name" title="doge - Added by jonathan">
:doge:
</div>
</a></li>
<li class="emoji slam" title="slam">
<a href="https://emojis.slackmojis.com/emojis/images/1463601732/420/slam.gif?1463601732" class="downloader" data-emoji-id-name="420-slam" data-emoji-id="420" download="slam.gif"><div class="wrapper">
<img alt="slam meme" src="https://emojis.slackmojis.com/emojis/images/1463601732/420/slam.gif?1463601732">
</div>
<div class="name" title="slam - Added by jason @ cybergrants">
:slam:
</div>
</a></li>
<li class="charmander_dancing emoji" title="charmander_dancing">
<a href="https://emojis.slackmojis.com/emojis/images/1469223471/679/charmander_dancing.gif?1469223471" class="downloader" data-emoji-id-name="679-charmander_dancing" data-emoji-id="679" download="charmander_dancing.gif"><div class="wrapper">
<img alt="charmander dancing pokemon" src="https://emojis.slackmojis.com/emojis/images/1469223471/679/charmander_dancing.gif?1469223471">
</div>
<div class="name" title="charmander_dancing - Added by jason @ cg">
:charmander_dancing:
</div>
</a></li>
<li class="emoji fidget_spinner" title="fidget_spinner">
<a href="https://emojis.slackmojis.com/emojis/images/1495751136/2331/fidget_spinner.gif?1495751136" class="downloader" data-emoji-id-name="2331-fidget_spinner" data-emoji-id="2331" download="fidget_spinner.gif"><div class="wrapper">
<img alt="fidget spinner random" src="https://emojis.slackmojis.com/emojis/images/1495751136/2331/fidget_spinner.gif?1495751136">
</div>
<div class="name" title="fidget_spinner - Added by quarklemotion">
:fidget_spinner:
</div>
</a></li>
<li class="emoji success-kid" title="success-kid">
<a href="https://emojis.slackmojis.com/emojis/images/1453406830/264/success-kid.png?1453406830" class="downloader" data-emoji-id-name="264-success-kid" data-emoji-id="264" download="success-kid.png"><div class="wrapper">
<img alt="success kid meme" src="https://emojis.slackmojis.com/emojis/images/1453406830/264/success-kid.png?1453406830">
</div>
<div class="name" title="success-kid - Added by olex">
:success-kid:
</div>
</a></li>
<li class="emoji troll" title="troll">
<a href="https://emojis.slackmojis.com/emojis/images/1463602125/429/troll.png?1463602125" class="downloader" data-emoji-id-name="429-troll" data-emoji-id="429" download="troll.png"><div class="wrapper">
<img alt="troll meme" src="https://emojis.slackmojis.com/emojis/images/1463602125/429/troll.png?1463602125">
</div>
<div class="name" title="troll - Added by jason @ cybergrants">
:troll:
</div>
</a></li>
<li class="deal_with_it_parrot emoji" title="deal_with_it_parrot">
<a href="https://emojis.slackmojis.com/emojis/images/1471119455/979/deal_with_it_parrot.gif?1471119455" class="downloader" data-emoji-id-name="979-deal_with_it_parrot" data-emoji-id="979" download="deal_with_it_parrot.gif"><div class="wrapper">
<img alt="deal with it parrot party parrot" src="https://emojis.slackmojis.com/emojis/images/1471119455/979/deal_with_it_parrot.gif?1471119455">
</div>
<div class="name" title="deal_with_it_parrot - Added by The Cult Of Party Parrot">
:deal_with_it_parrot:
</div>
</a></li>
<li class="emoji nyancat_big" title="nyancat_big">
<a href="https://emojis.slackmojis.com/emojis/images/1450458551/184/nyancat_big.gif?1450458551" class="downloader" data-emoji-id-name="184-nyancat_big" data-emoji-id="184" download="nyancat_big.gif"><div class="wrapper">
<img alt="nyancat big meme" src="https://emojis.slackmojis.com/emojis/images/1450458551/184/nyancat_big.gif?1450458551">
</div>
<div class="name" title="nyancat_big - Added by Chris Calmeyn">
:nyancat_big:
</div>
</a></li>
<li class="emoji pokeball" title="pokeball">
<a href="https://emojis.slackmojis.com/emojis/images/1450464069/186/pokeball.png?1450464069" class="downloader" data-emoji-id-name="186-pokeball" data-emoji-id="186" download="pokeball.png"><div class="wrapper">
<img alt="pokeball pokemon" src="https://emojis.slackmojis.com/emojis/images/1450464069/186/pokeball.png?1450464069">
</div>
<div class="name" title="pokeball - Added by jonathan">
:pokeball:
</div>
</a></li>
<li class="emoji wow" title="wow">
<a href="https://emojis.slackmojis.com/emojis/images/1464135017/461/fb-wow.gif?1464135017" class="downloader" data-emoji-id-name="461-wow" data-emoji-id="461" download="fb-wow.gif"><div class="wrapper">
<img alt="wow facebook reaction" src="https://emojis.slackmojis.com/emojis/images/1464135017/461/fb-wow.gif?1464135017">
</div>
<div class="name" title="wow - Added by Joao Faraco">
:wow:
</div>
</a></li>
<li class="emoji vader" title="vader">
<a href="https://emojis.slackmojis.com/emojis/images/1493910372/2183/vader.png?1493910372" class="downloader" data-emoji-id-name="2183-vader" data-emoji-id="2183" download="vader.png"><div class="wrapper">
<img alt="vader star wars" src="https://emojis.slackmojis.com/emojis/images/1493910372/2183/vader.png?1493910372">
</div>
<div class="name" title="vader - Added by Matthew">
:vader:
</div>
</a></li>
<li class="emoji pikachu" title="pikachu">
<a href="https://emojis.slackmojis.com/emojis/images/1450735712/238/pikachu.png?1450735712" class="downloader" data-emoji-id-name="238-pikachu" data-emoji-id="238" download="pikachu.png"><div class="wrapper">
<img alt="pikachu pokemon" src="https://emojis.slackmojis.com/emojis/images/1450735712/238/pikachu.png?1450735712">
</div>
<div class="name" title="pikachu - Added by nanotone">
:pikachu:
</div>
</a></li>
<li class="emoji homerdisppear" title="homerdisppear">
<a href="https://emojis.slackmojis.com/emojis/images/1450475643/211/homer-disappear.gif?1450475643" class="downloader" data-emoji-id-name="211-homerdisppear" data-emoji-id="211" download="homer-disappear.gif"><div class="wrapper">
<img alt="homerdisppear meme" src="https://emojis.slackmojis.com/emojis/images/1450475643/211/homer-disappear.gif?1450475643">
</div>
<div class="name" title="homerdisppear - Added by @cecycorrea">
:homerdisppear:
</div>
</a></li>
<li class="all_the_things emoji" title="all_the_things">
<a href="https://emojis.slackmojis.com/emojis/images/1450319440/23/all_the_things.jpg?1450319440" class="downloader" data-emoji-id-name="23-all_the_things" data-emoji-id="23" download="all_the_things.jpg"><div class="wrapper">
<img alt="all the things meme" src="https://emojis.slackmojis.com/emojis/images/1450319440/23/all_the_things.jpg?1450319440">
</div>
<div class="name" title="all_the_things - Added by jonathan">
:all_the_things:
</div>
</a></li>
  </ul>

</div>
