// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.categories {
  padding: 0;


}

ul.categories li {
  display: inline-block;
  // width: 140px;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
  white-space: nowrap
}

ul.categories li:before{
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}
