// Place all the styles related to the Emojis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
    font-family: helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
    font-size: 1em;
    text-align: center;
    color: #000;
    background-color: #fff;
    width: 85%;
    margin: 0 auto;
    border-top: 20px;
}

.ui-helper-hidden-accessible {
  display: none;
}
