// Place all the styles related to the Emojis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
    font-family: helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
    font-size: 1em;
    text-align: center;
    color: #000;
    background-color: #fff;
    width: 85%;
    margin: 0 auto;
    border-top: 20px;
}

.ui-helper-hidden-accessible {
  display: none;
}


ul.tagit li.tagit-choice {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CAD8F3;
    background: none;
    background-color: #DEE7F8;
    font-weight: normal

}

ul.button{

}

.top-logo {

}

.top-logo:hover {
  text-decoration:none;
}

.edit-btn {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 55px;
}

.upload-btn{
  margin-left:30px;
}

.btn-social-giza a {
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
}
.btn-social-giza .fa-stack-1x {
  color: white;
  font-size: 15px;
}
.btn-social-giza .fa-stack-2x {
  transition: .5s;
}
.btn-social-giza .btn-social-giza-twitter .fa-stack-2x {
  color: #74c1f8;
}

.btn-social-giza a:hover .fa-stack-2x {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* Hover Effects on Card */

.emojis li:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
.emojis li:hover .btn {
    opacity: 1;
  }


#form{
  text-align: center;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 8px 5px;
  margin-left: 230px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 60px;
  color: #aaa;
  line-height: 100px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 20px;
  position: absolute;
  top: -27px;
  right: 11px;
}

#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}
