

body {
    font-family: helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
    font-size: 2em;
    text-align: center;
    color: #000;
    background-color: #fff;
    width: 85%;
    margin: 0 auto;
}

div.information{
  margin: 30px 20px;
}

ul.emojis {
  margin-bottom: 30px;
}

ul.emojis li.emoji {
    display: inline-block;
    width: 145px;
    padding: 7px 10px 7px 10px;
    margin: 10px 5px 10px 0;
    border: 1px solid #afafaf;
    text-align: center;
    border-radius: 3px;
}

ul.emojis div.name {
    font-size: 0.8em;
}

ul.emojis div.name_big {
    font-size: 1.2em;
}
