<div class="center jumbotron">
  <div class="top-logo">
    <a href="/">
      <h1>ORE no EMOJI</h1>

      <h2>
        俺の絵文字をみろ
      </h2>
    </a>
  </div>

<ul class = "categories">
<% @categories.each do |category| %>

    <li class="tagit-choice">
      <%= link_to '# ' + category.name,"/categories/#{category.id}"  %>
    </li>
<% end %>
</ul>
