<div class="center jumbotron">
<h1>ORE no EMOJI</h1>

<h2>
  an unofficial* directory of the best custom slack emojis
</h2>


<ul class = "categories">
<% @categories.each do |category| %>
  
    <li class="tagit-choice">
      <%= link_to '# ' + category.name,"/categories/#{category.id}"  %>
    </li>
<% end %>
</ul>
