<footer class="footer">
  <small>
    ORE no EMOJI
    by <a href="https://github.com/yuhei-tomita">tomiheeee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>
  </nav>
</footer>
